<form action="/" method="post">
  <p>Plese list a puppy for adoption</p>
  <textarea name="name">Name: </textarea>
  <textarea name="breed">Breed: </textarea>
  <textarea name="age">Age: </textarea>
  <input type="submit" name="submit" value="List A Puppy">
</form>
